@import "./game-rule.scss";

@mixin center-po {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin justify-content-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
  margin: 0;
  background: url(../img/rpg-background.jpg) top -60px center;
  background-size: cover;
  overflow: hidden;
}

input {
  outline: none;
}

#gameRule {
  width: 50%;

  .game-rule {
    margin-top: -20px;
  }
}

.overlay {
  opacity: 0;
}

.btn {
  font-size: 30px;
  font-family: 'EliceDigitalBaeum_Bold';
  padding: 0px 50px;
  line-height: 50px;
  padding-bottom: 5px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #bbb;
  box-shadow: -5px -7px 10px #666 inset;
  color: #fff;

  &:hover {
    box-shadow: -2px -4px 7px #666 inset;
  }
}

.hero-image {
  position: absolute;
  bottom: -120px;
  left: -200px;
  transform: scale(34%);
}

#start-screen {
  @include center-po;
  @include center-flex;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  width: 50%;
  z-index: 1;
  font-family: 'EliceDigitalBaeum_Bold';

  .hero-name {
    font-size: 35px;
    margin: 20px;
    text-align: center;
  }

  #name-input {
    width: 70%;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    border: 5px solid rgb(26, 132, 238);
    font-family: 'EliceDigitalBaeum_Bold';

    &::placeholder {
      color: #ddd;
      font-family: 'EliceDigitalBaeum_Bold';
    }
  }

  #start {
    margin-top: 20px;
  }
}

#screen {
  @include justify-content-center;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .start-screen-overlay {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 130%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 9;
  }

  #character-stat {
    border: 10px solid gold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    background-color: #fff;
    padding-top: 10px;
    @include justify-content-center;
    bottom: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 170px;

    #hero-stat,
    #monster-stat {
      height: 100%;
      width: 30%;

      span {
        background-color: #eee;
      }

      #hero-level,
      #hero-xp {
        margin-right: 20px;
      }
    }

    #hero-name,
    #monster-name {
      font-size: 40px;
    }

    #hero-stat {
      width: 50%;
      margin-left: 30px;

      #hero-name {
        display: block;
        margin: 10px 0;
      }

      #hero-level {}

      #hero-level,
      #hero-hp {}
    }

    #monster-stat {
      text-align: right;
      margin-right: 30px;

      #monster-name {
        display: block;
        margin: 10px 0;
      }
    }
  }

  #menu {
    background-color: rgba(51, 51, 51, 0.473);
    position: absolute;
    width: 100%;
    height: 155px;
    padding: 60px;
    font-family: 'EliceDigitalBaeum_Bold';
    box-sizing: border-box;

    #game-menu,
    #battle-menu {
      @include center-po;
      width: 60%;
      text-align: center;
      color: #fff;
      padding-top: 20px;

      .btn {
        font-family: 'EliceDigitalBaeum_Bold';
        font-size: 25px;
        margin: 0 10px;
        width: 200px;
        background-color: rgb(255, 153, 0);
        box-shadow: -5px -7px 10px rgb(160, 73, 11) inset;

        &:hover {
          box-shadow: -2px -4px 7px rgb(160, 73, 11) inset;
        }

        &:first-child {
          background-color: rgb(236, 40, 79);
          box-shadow: -5px -7px 10px rgb(126, 3, 28) inset;

          &:hover {
            box-shadow: -2px -4px 7px rgb(126, 3, 28) inset;
          }
        }

        &:nth-child(2) {
          background-color: forestgreen;
          box-shadow: -5px -7px 10px rgb(10, 83, 10) inset;

          &:hover {
            box-shadow: -2px -4px 7px rgb(10, 83, 10) inset;
          }
        }
      }
    }

    .selection {
      display: flex;
      justify-content: center;
      margin: 20px;
    }
  }

  .title {
    font-size: 30px;
  }

  span,
  .selection {
    font-size: 30px;
  }

  #monster-img {
    width: 500px;
    height: 350px;
    position: absolute;
    right: 150px;
    bottom: 260px;
    // background-image: url(../img/slime.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
}

#message {
  @include justify-content-center;
  top: calc(100% - 20px);
  width: 50%;
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
  font-size: 22px;
  padding: 15px;
  border: 5px solid #eee;
  border-top: none;
  border-radius: 0 0 20px 20px;
}