@import "./game-rule.scss";
@import "./game-result.scss";

body {
  background: url(../img/tictactoe-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  position: absolute;
  top: 25%;
  left: 14%;
  background: url(../img/tictactoe-table.png) no-repeat center;
  background-size: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/tictactoe-wood.png) no-repeat center left -30px;
    background-size: 120%;
    width: 190%;
    height: 150%;
    z-index: -1;
  }
}

td {
  width: 140px;
  height: 140px;
  text-align: center;
  font-size: 150px;
  font-family: 'Dokdo', cursive;
  color: #fff;
  line-height: 20px;
}

.charactor {
  transform: scale(40%);
  position: absolute;
  bottom: -330px;
  right: -210px;
}

#gameRule {
  img {
    transform: translateX(-50%) translateY(10px) scale(90%);
  }
}

.hidden {
  display: none;
}