@import "./game-common.scss";

body {
  background: url(../img/tictactoe-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  position: absolute;
  top: 25%;
  left: 14%;
  background: url(../img/tictactoe-table.png) no-repeat center;
  background-size: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/tictactoe-wood.png) no-repeat center left -30px;
    background-size: 120%;
    width: 190%;
    height: 150%;
    z-index: -1;
  }
}

td {
  width: 140px;
  height: 140px;
  text-align: center;
  font-size: 150px;
  font-family: 'Dokdo', cursive;
  color: #fff;
  line-height: 20px;
}

.charactor {
  transform: scale(40%);
  position: absolute;
  bottom: -300px;
  right: -210px;
}

#gameRule {
  img {
    transform: translateX(-50%) translateY(10px) scale(90%);
  }
}

// popup
#popUp {
  border-radius: 30px;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;
  width: 700px;
  height: 420px;
  position: absolute;
  padding-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .result-box {
    text-align: center;
    position: relative;

    .result {
      font-size: 90px;
    }

    .emotion {
      position: absolute;
      width: 100%;
      left: 0;
      top: 15px;

      img {
        transform: scale(65%);
        margin: 0 65px;
      }
    }

    .answer {
      margin-top: 30px;
      display: block;
      font-size: 30px;
      color: rgb(236, 112, 24);
    }
  }

  .selector {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;

    .btn {
      text-align: center;
      width: 50%;
      height: 80px;
      line-height: 80px;
      font-size: 1.5rem;
      font-weight: 500;
      background-color: orange;
      color: #fff;

      &:hover {
        background-color: darken(orange, 5%);
      }
    }

    .btn--redo {
      border-right: 1px solid #fff;
    }
  }
}

.hidden {
  display: none;
}