@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
}

#gameRule {
  z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 50px;
  text-align: center;
  border-radius: 30px;
  font-family: "SBAggroM";
}
#gameRule img {
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translateX(-50%) scale(80%);
}
#gameRule .game-name {
  font-size: 50px;
}
#gameRule .game-rule .game-rule__title {
  font-size: 30px;
}
#gameRule .game-rule .game-rule__text {
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: left;
}
#gameRule .game-rule .game-rule__text .number {
  text-align: center;
  background-color: orange;
  display: inline-block;
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 25px;
  padding: 3px;
  color: white;
}
#gameRule .add {
  text-align: left;
  padding-left: 50px;
  line-height: 1.8em;
  font-size: 1.1rem;
}
#gameRule .start {
  margin: 15px;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
}
#gameRule .start:hover {
  background-color: #e69500;
}

.overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 130%;
  height: 130%;
  background-color: rgba(0, 0, 0, 0.582);
  z-index: 9;
}

.btn--home {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 11;
  display: block;
  padding: 15px 40px;
  background-color: #ddd;
  border-radius: 10px;
  color: #555;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "SBAggroM";
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.593);
}
.btn--home:hover {
  background-color: #919191;
  color: #fff;
}

@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
}

#gameRule {
  z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 50px;
  text-align: center;
  border-radius: 30px;
  font-family: "SBAggroM";
}
#gameRule img {
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translateX(-50%) scale(80%);
}
#gameRule .game-name {
  font-size: 50px;
}
#gameRule .game-rule .game-rule__title {
  font-size: 30px;
}
#gameRule .game-rule .game-rule__text {
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: left;
}
#gameRule .game-rule .game-rule__text .number {
  text-align: center;
  background-color: orange;
  display: inline-block;
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 25px;
  padding: 3px;
  color: white;
}
#gameRule .add {
  text-align: left;
  padding-left: 50px;
  line-height: 1.8em;
  font-size: 1.1rem;
}
#gameRule .start {
  margin: 15px;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
}
#gameRule .start:hover {
  background-color: #e69500;
}

.overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 130%;
  height: 130%;
  background-color: rgba(0, 0, 0, 0.582);
  z-index: 9;
}

.btn--home {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 11;
  display: block;
  padding: 15px 40px;
  background-color: #ddd;
  border-radius: 10px;
  color: #555;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "SBAggroM";
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.593);
}
.btn--home:hover {
  background-color: #919191;
  color: #fff;
}

@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HangeulNuri-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: rgba(238, 238, 238, 0.589);
  font-family: "SBAggroM";
  background: url(../img/word-relay-bg.jpeg) no-repeat;
  background-size: cover;
}

body {
  overflow: hidden;
}

.word-relay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%, -45%);
  top: 45%;
  text-align: center;
  padding: 50px;
  padding-top: 100px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px #ddd;
}
.word-relay .character {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  left: -442px;
  bottom: -200px;
  z-index: 10;
  transform: scale(45%);
}
.word-relay .character + em {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  width: 150px;
  height: 90px;
  border-radius: 50%;
  z-index: 9;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.336);
}
.word-relay .participant {
  border-radius: 20px 20px 0 0;
  position: absolute;
  padding: 40px 0 20px 0;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eb6a3b;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: "HangeulNuri-Bold";
}
.word-relay #order {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  color: chocolate;
  font-weight: 700;
  font-size: 2rem;
}
.word-relay .suggestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 2.5rem;
  margin: 30px;
  padding: 10px;
  color: #888;
  width: 500px;
  position: relative;
}
.word-relay .suggestion .hidden {
  display: none;
}
.word-relay .suggestion em {
  position: absolute;
  top: 60%;
  right: 27%;
  transform: translateY(-50%);
  width: 16%;
  height: 34%;
  background-color: #fdfd72;
  opacity: 0;
  animation: blink 0.5s infinite alternate;
}
.word-relay .suggestion::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  width: 95%;
  top: 30%;
  background-color: #ccc;
}
.word-relay .suggestion #word {
  display: inline-block;
  height: 150px;
  margin-top: 15px;
  font-size: 5rem;
  line-height: 150px;
  color: #ddd;
  position: relative;
  letter-spacing: 3px;
}
.word-relay .timer {
  font-size: 25px;
  padding: 13px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#word-relay__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#word-relay__form input[type=text] {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  width: 350px;
  outline: none;
  border-radius: 50px;
  font-size: 2.5rem;
  padding: 10px;
}
#word-relay__form input[type=text]:focus {
  border: 5px solid coral;
}
#word-relay__form input[type=text]::placeholder {
  font-size: 2rem;
  opacity: 0.5;
}
#word-relay__form input[type=submit] {
  width: 30%;
  padding: 10px;
  font-size: 1.8rem;
  margin-top: 10px;
  background-color: #f27345;
  color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: -5px -7px 10px #c2621d inset;
  cursor: pointer;
  font-family: "SBAggroM";
}
#word-relay__form input[type=submit]:hover {
  box-shadow: none;
}

#gameRule img {
  transform: translateX(-50%) translateY(45px) scale(90%);
}

@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
}

#gameRule {
  z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 50px;
  text-align: center;
  border-radius: 30px;
  font-family: "SBAggroM";
}
#gameRule img {
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translateX(-50%) scale(80%);
}
#gameRule .game-name {
  font-size: 50px;
}
#gameRule .game-rule .game-rule__title {
  font-size: 30px;
}
#gameRule .game-rule .game-rule__text {
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: left;
}
#gameRule .game-rule .game-rule__text .number {
  text-align: center;
  background-color: orange;
  display: inline-block;
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 25px;
  padding: 3px;
  color: white;
}
#gameRule .add {
  text-align: left;
  padding-left: 50px;
  line-height: 1.8em;
  font-size: 1.1rem;
}
#gameRule .start {
  margin: 15px;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
}
#gameRule .start:hover {
  background-color: #e69500;
}

.overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 130%;
  height: 130%;
  background-color: rgba(0, 0, 0, 0.582);
  z-index: 9;
}

.btn--home {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 11;
  display: block;
  padding: 15px 40px;
  background-color: #ddd;
  border-radius: 10px;
  color: #555;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "SBAggroM";
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.593);
}
.btn--home:hover {
  background-color: #919191;
  color: #fff;
}

body {
  background: url(../img/tictactoe-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  position: absolute;
  top: 25%;
  left: 13%;
  background: url(../img/tictactoe-table.png) no-repeat center;
  background-size: 100%;
}
table::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/tictactoe-wood.png) no-repeat center left -30px;
  background-size: 120%;
  width: 190%;
  height: 150%;
  z-index: -1;
}

td {
  width: 140px;
  height: 140px;
  text-align: center;
  font-size: 150px;
  font-family: "Dokdo", cursive;
  color: #fff;
  line-height: 20px;
}

.charactor {
  transform: scale(40%);
  position: absolute;
  bottom: -300px;
  right: -210px;
}

#gameRule img {
  transform: translateX(-50%) translateY(10px) scale(90%);
}

#popUp {
  border-radius: 30px;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;
  width: 700px;
  height: 420px;
  position: absolute;
  padding-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popUp .result-box {
  text-align: center;
  position: relative;
}
#popUp .result-box .result {
  font-size: 90px;
}
#popUp .result-box .emotion {
  position: absolute;
  width: 100%;
  left: 0;
  top: 15px;
}
#popUp .result-box .emotion img {
  transform: scale(65%);
  margin: 0 65px;
}
#popUp .result-box .answer {
  margin-top: 30px;
  display: block;
  font-size: 30px;
  color: #ec7018;
}
#popUp .selector {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
}
#popUp .selector .btn {
  text-align: center;
  width: 50%;
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: orange;
  color: #fff;
}
#popUp .selector .btn:hover {
  background-color: #e69500;
}
#popUp .selector .btn--redo {
  border-right: 1px solid #fff;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
}

#gameRule {
  z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 50px;
  text-align: center;
  border-radius: 30px;
  font-family: "SBAggroM";
}
#gameRule img {
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translateX(-50%) scale(80%);
}
#gameRule .game-name {
  font-size: 50px;
}
#gameRule .game-rule .game-rule__title {
  font-size: 30px;
}
#gameRule .game-rule .game-rule__text {
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: left;
}
#gameRule .game-rule .game-rule__text .number {
  text-align: center;
  background-color: orange;
  display: inline-block;
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 25px;
  padding: 3px;
  color: white;
}
#gameRule .add {
  text-align: left;
  padding-left: 50px;
  line-height: 1.8em;
  font-size: 1.1rem;
}
#gameRule .start {
  margin: 15px;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
}
#gameRule .start:hover {
  background-color: #e69500;
}

.overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 130%;
  height: 130%;
  background-color: rgba(0, 0, 0, 0.582);
  z-index: 9;
}

.btn--home {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 11;
  display: block;
  padding: 15px 40px;
  background-color: #ddd;
  border-radius: 10px;
  color: #555;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "SBAggroM";
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.593);
}
.btn--home:hover {
  background-color: #919191;
  color: #fff;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  background: url(../img/number-baseball-bg.jpg) top -25px center no-repeat;
  background-size: 103%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#popUp {
  border-radius: 30px;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;
  width: 700px;
  height: 420px;
  position: absolute;
  padding-top: 60px;
}
#popUp .result-box {
  text-align: center;
  position: relative;
}
#popUp .result-box .result {
  font-size: 90px;
}
#popUp .result-box .emotion {
  position: absolute;
  width: 100%;
  left: 0;
  top: 15px;
}
#popUp .result-box .emotion img {
  transform: scale(65%);
  margin: 0 65px;
}
#popUp .result-box .answer {
  margin-top: 30px;
  display: block;
  font-size: 30px;
  color: #ec7018;
}
#popUp .selector {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
}
#popUp .selector .btn {
  text-align: center;
  width: 50%;
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: orange;
  color: #fff;
}
#popUp .selector .btn:hover {
  background-color: #e69500;
}
#popUp .selector .btn--redo {
  border-right: 1px solid #fff;
}

.hidden {
  display: none;
}

.billboard {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 500px;
  border: 10px solid;
  background: url(../img/billboard-texture.jpeg) no-repeat;
  background-size: cover;
  background-color: #333;
  background-blend-mode: overlay;
  border-color: cadetblue;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.404);
}
.billboard .billboard__inner {
  width: 100%;
  border-collapse: collapse;
}
.billboard .billboard__inner tbody {
  width: 100%;
}
.billboard .billboard__inner tbody tr {
  height: 50px;
  border: none;
  color: gold;
  text-shadow: 0 0 15px gold;
  font-size: 45px;
  font-family: "Keania One", cursive;
}
.billboard .billboard__inner tbody tr:first-child {
  font-size: 15px;
  color: #fff;
  background-color: cadetblue;
  text-transform: uppercase;
  text-shadow: none;
  font-family: "Press Start 2P", cursive;
}
.billboard .billboard__inner tbody tr:nth-child(2) td {
  padding-top: 10px;
}
.billboard .billboard__inner tbody tr .out {
  color: crimson;
  text-shadow: 0 0 15px crimson;
}
.billboard .billboard__inner tbody tr td {
  text-align: center;
  padding-top: 5px;
}
.billboard .billboard__inner tbody tr td:first-child {
  color: #fff;
  text-shadow: 0 0 15px #fff;
}
.billboard .submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 45%;
  height: 60px;
  z-index: 10;
  border: 7px solid cadetblue;
  display: flex;
}
.billboard .submit input {
  display: block;
  border: none;
}
.billboard .submit input[type=text] {
  width: 80%;
  outline: none;
  font-size: 40px;
  text-align: center;
  font-family: "Keania One", cursive;
}
.billboard .submit input[type=submit] {
  width: 20%;
  font-size: 25px;
}

.character {
  position: absolute;
  bottom: 0;
  left: 7%;
  transform: scale(68%);
}

.tool {
  position: absolute;
  right: -15%;
  bottom: 0;
  transform: scale(30%);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px 50px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.extra-game {
  margin-top: 100px;
  color: #ccc;
  font-size: 1.5rem;
  line-height: 1.5em;
}

/*# sourceMappingURL=style.css.map */
